body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Contenido */
#sobre-nosotros {
  padding: 50px;
  background: linear-gradient(to bottom, #fff5f8, #ffe3ec);
}

.contenedor {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.contenedor h2 {
  color: #d63384;
  font-size: 2.5em;
  margin-bottom: 15px;
}

.contenedor h3 {
  color: #d63384;
  margin-top: 30px;
}

.contenedor p {
  color: #555;
  font-size: 1.1em;
  line-height: 1.8;
  margin-top: 15px;
}

/* Imagen */
.imagen {
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  margin-top: 25px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);

  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Efecto hover */
.imagen:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/* Lista */
.contenedor ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.contenedor ul li {
  margin: 8px 0;
  font-size: 1.05em;
}