/* NAVBAR */
.navbar {
  background-color: #d63384;
  padding: 10px 20px;
}

/* LISTA */
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center; /* centra todo */
  gap: 20px;
}

/* LOGO */
.logo-item {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
}

/* LINKS */
.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.3s;
}
/* SOLO ESTO AGREGA */
.hero {
  text-align: center;
  padding: 50px 20px;
}

.hero h1 {
  color: #d63384;
}

.hero p {
  color: #d63384;
}
