<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-item logo-item">
            <a href="index.html" aria-label="Inicio">
                <img src="assets/logo.webp" alt="Logo de la empresa" class="logo" />
            </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="index.html" data-route="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="nosotros.html" data-route="nosotros.html">Nosotros</a></li>
        <li class="nav-item"><a class="nav-link" href="servicios.html" data-route="servicios.html">Servicios</a></li>
        <li class="nav-item"><a class="nav-link" href="contactos.html" data-route="contactos.html">Contactos</a></li>
    </ul>
</nav>